{
    "brand_name": "Project Alpha",
    "logo_path": "/?page=serve-upload&file=logo_20251007_032041_ff235114.png",
    "from_name": null,
    "from_address_line1": null,
    "from_address_line2": null,
    "from_city": null,
    "from_state": null,
    "from_postal": null,
    "from_country": null,
    "from_email": null,
    "from_phone": null,
    "terms": null,
    "net_terms_days": 30,
    "payment_methods": [
        "Cash",
        "Bank Transfer",
        "check",
        "stripe"
    ],
    "timezone": "America/Chicago",
    "smtp_host": null,
    "smtp_port": 587,
    "smtp_secure": "tls",
    "smtp_username": null,
    "smtp_password_enc": null,
    "suppress_assets_warning": 0,
    "quotes_show_terms": 0,
    "primary_state": null,
    "documents_valid_days": 14,
    "dashboard": {
        "months_to_show": 6
    },
    "quote_scope_enabled": 0,
    "quote_auto_create_contract": 0,
    "quote_auto_create_invoice": 0,
    "contract_scope_enabled": 0,
    "contract_memo_enabled": 0,
    "cron_enabled": 1,
    "cron_schedule": "daily_2am",
    "cron_custom": "0 2 * * *",
    "signature_agreement": "By signing below, I acknowledge that this is a multi-page contract and that I have read and agree to the terms and conditions.",
    "invoice_auto_send_due_7days": 0,
    "invoice_auto_send_overdue_weekly": 0,
    "stripe_publishable_key": null,
    "stripe_secret_key_enc": null,
    "review_link": null,
    "stripe_webhook_secret_enc": null,
    "stripe_surcharge_type": "split",
    "stripe_surcharge_percent": 2.9,
    "stripe_surcharge_fixed": 0.3,
    "stripe_surcharge_split_percent": 50,
    "stripe_surcharge_message": "Using a credit card is a privilege for both parties, so it is fair that we split the fee"
}
